
.example-container {
  position: relative;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgba(255, 0, 0, 0.5);
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebar {
  max-width: 500px;
}
